<form (submit)="invite(inviteForm)" #inviteForm="ngForm" class="no-select">
    <h2>Friend Invitation</h2>
    <label>Username:</label>
        <div class="info">{{user.username}}</div>
    <label>Level:</label>
        <div class="info">{{user.level}}</div>
    <label>Mode:</label>
        <div class="info">{{user.mode}}</div>
    <label>Time:</label>
        <div class="info">{{user.time}}</div>
    <label>Recently Played:</label>
        <div class="info">{{user.game}}</div>
    <label>Game:</label> 
    <select name="game" ngModel required>
        <option value="" disabled selected>- Select a game -</option>
        <option *ngFor="let game of gameService.games" value="{{game.title}}">{{game.title}}</option>
    </select>
    <button [disabled]="!inviteForm.form.valid">Invite</button>
    <button (click)="cancel()">Cancel</button>
</form>