.search {
  margin: 15px 0;

  padding: 3px 15px;

  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;

  outline: none !important;
}