<input mdInput #search [(ngModel)]="searchText" id="search" (input)="searchFilter(search.value)" class="search" type="text" name="search" placeholder="Search" />
<table class="listing">
  <tr class="no-select">
    <th>Username</th>
    <th>Level</th>
    <th>Mode</th>
    <th>Time</th>
    <th>Recently Played</th>
    <th colspan="2">Status</th>
  </tr>
  <tr *ngFor="let user of filteredUsers">
    <td>{{user.username}}</td>
    <td>{{user.level}}</td>
    <td>{{user.mode}}</td>
    <td>{{user.time}}</td>
    <td>{{user.game}}</td>
    <td>{{user.status}}</td>
    <td class="options">
      <button *ngIf='user.status.toLowerCase() != "online"' disabled>Invite</button>
      <button *ngIf='user.status.toLowerCase() == "online"' [routerLink]="['/invite/',user.username]">Invite</button>
    </td>
  </tr>
</table>