<input id="lobby-search" class="search" type="text" name="search" placeholder="Search">
<table class="list" style="width: 100%;">
  <tr class="no-select">
    <th>Username</th>
    <th>Level</th>
    <th>Mode</th>
    <th>Time</th>
    <th>Recently Played</th>
    <th>Status</th>
    <th></th>
  </tr>
  <tr *ngFor ="let user of userService.users">
    <td>{{user.username}}</td>
    <td>{{user.level}}</td>
    <td>{{user.mode}}</td>
    <td>{{user.time}}</td>
    <td>{{user.game}}</td>
    <td>{{user.status}}</td>
    <td><button style="width: 100%;" [routerLink]="['/invite/',user.username]">Invite</button></td>
  </tr>
</table>