<form (submit)="login(loginForm)" #loginForm="ngForm" novalidate>
  <h2>Admin Login</h2>
  <div class="error" 
    [hidden]="username.valid || username.pristine || password.valid || password.pristine">
    Invalid Username or Password
  </div>
  <label for="username">Login:</label>
    <input #username="ngModel" type="text" id="username" name="username" ngModel required>
  <label for="password">Password:</label>
    <input #password="ngModel" type="password" id="password" name="password" ngModel required>
  <button type="submit">Login</button>
  <button (click)="cancel()">Cancel</button>
</form>