<form #addForm="ngForm" novalidate>
    <label for="username">Username:</label> 
        <input id="username" type="text" name="username" #username="ngModel" ngModel required>
        <div [hidden]="username.valid || username.pristine">Username required</div>
    <label for="level">Level:</label>
    <select id="level" name="level" #level="ngModel" ngModel required>
        <option value="" disabled selected>- Select a level -</option>
        <option value="1">1</option>
    </select> 
    <label for="mode">Mode:</label>
        <input id="mode" type="text" name="mode" #mode="ngModel" ngModel required><br>
        <div [hidden]="mode.valid || mode.pristine">Mode required</div>
    <label for="time">Time:</label>
        <input id="time" type="text" name="time" #time="ngModel" ngModel required><br>
        <div [hidden]="time.valid || time.pristine">Time required</div>
    <label>Recently Played:</label>
    <select name="game" #game="ngModel" ngModel required>
        <option value="" disabled selected>- Select a game -</option>
        <option *ngFor="let game of gameService.games" value="{{game.title}}">{{game.title}}</option>
    </select>
    <label for="status">Status:</label> 
    <select id="status" name="status" ngModel #status="ngModel" required>
        <option value="" disabled selected>- Select a status -</option>
        <option>In Game</option>
        <option>Online</option>
    </select>
    <button [disabled]="!addForm.form.valid" (click)="add()" [disabled]>Add</button>
    <button (click)="cancel()">Cancel</button>
</form>