<form #addForm="ngForm" novalidate>
        <label for="username">Username:</label> 
            <input id="username" type="text" name="username" [(ngModel)]="user.username" #username="ngModel" ngModel required>
            <div [hidden]="username.valid || username.pristine">Username required</div>
        <label for="level">Level:</label>
        <select id="level" name="level" [(ngModel)]="user.level" #level="ngModel" ngModel required>
            <option value="{{user.level}}" disabled selected>{{user.level}}</option>
            <option value="1">1</option>
        </select> 
        <label for="mode">Mode:</label>
            <input id="mode" type="text" name="mode" [(ngModel)]="user.mode" #mode="ngModel" ngModel required><br>
            <div [hidden]="mode.valid || mode.pristine">Mode required</div>
        <label for="time">Time:</label>
            <input id="time" type="text" name="time" [(ngModel)]="user.time" #time="ngModel" ngModel required><br>
            <div [hidden]="time.valid || time.pristine">Time required</div>
        <label>Recently Played:</label>
        <select name="game" [(ngModel)]="user.game" #game="ngModel" ngModel required>
            <option value="" disabled selected>- Select a game -</option>
            <option *ngFor="let game of gameService.games" value="{{game.title}}">{{game.title}}</option>
        </select>
        <label for="status">Status:</label> 
        <select id="status" name="status" [(ngModel)]="user.status" #status="ngModel" ngModel required>
            <option value="" disabled selected>- Select a status -</option>
            <option value="Online">Online</option>
            <option value="In Game">In Game</option>
        </select>
        <button type="submit" [disabled]="!addForm.form.valid" (click)="update()" [disabled]>Update</button>
        <button (click)="cancel()">Cancel</button>
    </form>